RESTIC_REPOSITORY=s3:https://s3.us-east-va.io.cloud.ovh.us/leon-sites-backups/restic
RESTIC_PASSWORD_FILE=/opt/leon-platform/secrets/restic-password
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me

