RESTIC_REPOSITORY=s3:https://s3.us-east-va.io.cloud.ovh.us/leon-sites-backups/restic
RESTIC_PASSWORD_FILE=/opt/leon-platform/secrets/restic-password
ALLOW_LOCAL_BACKUP=false
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
BACKUP_STAGING_ROOT=/opt/leon-platform-backup-staging/staging-current
RESTORE_DRILL_ROOT=/opt/leon-platform/restore-drills
BACKUP_MIN_FREE_BYTES=10737418240
BACKUP_HEALTHCHECK_SCRIPT=/usr/local/libexec/leon-platform/healthcheck.sh
BACKUP_HEALTHCHECK_ATTEMPTS=12
BACKUP_HEALTHCHECK_INTERVAL_SECONDS=5
