POSTGRES_DB=leon_platform
POSTGRES_USER=leon_app
POSTGRES_PASSWORD=replace_with_a_long_random_password
POSTGRES_RUNTIME_PASSWORD=replace_with_a_different_random_password_at_least_32_characters
POSTGRES_DOMAIN_WORKER_PASSWORD=replace_with_another_random_password_at_least_32_characters
