POSTGRES_DB=leon_platform_test
POSTGRES_USER=leon_test_app
POSTGRES_PASSWORD=replace_with_a_random_password_at_least_32_characters
POSTGRES_DASHBOARD_PASSWORD=replace_with_a_different_random_password_at_least_32_characters
